body{
	margin: 0;
	font-family: Arial, Helvetica, freesans, sans-serif;
}
		
#top-bar{
	background-color: white;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	color: black;
}

#logo-div{
	padding: 8px 9px 5px 3px;
	float: left;
	border-right: 1px solid #CCCCCC;
}

#signin-div{
	float: left;
	padding: 8px 85px 12px 16px;
	border-right: 1px solid #CCCCCC;
	font-weight: bold;
	font-size: 0.8em;
}

#topmenu-div{
	float: left;
}

#topmenu-div ul{
	margin: 0;
	padding: 0;
}

#topmenu-div li{
	float: left;
	list-style: none;
	font-weight: bold;
	font-size: 0.8em;
	border-right: 1px solid #CCCCCC;			
	padding: 13px 15px 12px 15px;
}

#signin-div img{
	position: relative;
	top: 5px;
}

#search-div {
	float: left;
	padding: 8px 0 0 15px;
}

#search-div input{
	height: 20px;
	background-color: #E4E4E4;
	color: black;
	border: none;
	padding: 3px 10px 3px 3px;
	font-weight: bold;
	background-image: url("img/bbc-search.png");
	background-repeat: no-repeat;
	background-position: right center;
}

::-webkit-input-placeholder {
 	color: black;
}

:-moz-placeholder { 
   color: black;  
}

::-moz-placeholder { 
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

#more-bar{
	background-color: white;
	height: 100px;
	width: 100%;
}

#more-menu-div{
	
}

#more-label{
	float: left;
}

#more-list{
	float: left;
	padding-left: 55px;
}

#more-list ul{
	float: left;
	padding: 20px;
	margin-top: -20px;
}

#more-list li{
	list-style: none;
	font-weight: bold;
	padding: 20px 50px 0 25px;
	font-size: 0.8em;
}

#label-bar{
	background-color: #CC0101;
	height: 55px;
	width: 100%;
	border-bottom: 1px solid #DA4c4c;
}

#label-center{
	height: 55px;
	width: 1000px;
	margin: 0 auto;
}		

#news-label-div{
	color: white;
}

#lower-bar{
	background-color: #CC0101;
	height: 35px;
	width: 100%;
}

.fixed-width{
	width: 1000px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: black;
}

#more-title{
	font-family: "Gill Sans","Gill Sans MT",Arial,sans-serif;
	font-size: 1.75em;			
	font-weight: normal;
	margin-top: 5px;
}

#news-title{
	font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
	font-size: 2.7em;			
	font-weight: normal;
	margin-bottom: 20px;
}

#lower-nav{
	float: left;
}

#lower-nav ul{
	margin: 0;
	padding: 0;
}

#lower-nav li{
	font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
	float: left;
	list-style: none;
	font-size: 14px;
	color: white;
	border-right: 1px solid #CCCCCC;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#lower-nav li:hover{
	padding-bottom: 5px;
	border-bottom: 5px solid white;
}
